@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .light-theme {
    --background: #fff7ce;
    --accent: #ffd56b;
    --text: #382800;
  }

  .dark-theme {
    --background: #100b00;
    --accent: #7a601e;
    --text: #ffebb8;
  }
}

* {
  color: theme("colors.text");
  font-weight: 500;
  font-family: "Figtree", sans-serif;
}

.one-line {
  overflow: auto;
  line-clamp: 1;
  white-space: nowrap;
}

::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background: theme("colors.accent");
  border-radius: 48px;
}


.card-scroll::-webkit-scrollbar {
  height: 4px;
}

.card-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.card-scroll::-webkit-scrollbar-thumb {
  background: theme("colors.text");
  border-radius: 48px;
}

.link:hover{
  text-decoration: underline;
  cursor: pointer;
}