@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer{
  .light-theme{
    --background: #FFFEEE;
    --backgroundTwo: #FFF8E0;
    --backgroundThree: #FFF0BA;
    --onBackground: #323000;
  }

  .dark-theme{
    --background: #252400;
    --backgroundTwo: #2C2A00;
    --backgroundThree: #403D00;
    --onBackground: #E8E493;
  }
}

*{
  color: theme("colors.onBackground");
  font-weight: 600;
  font-family: 'Figtree', sans-serif;
}