@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer{
  .light-theme{
    --base: #eff1f5;
    --text: #4c4f69;
    --crust: #dce0e8;
    --mantle: #e6e9ef;
    --yellow: #df8e1d;
  }

  .dark-theme{
    --base: #24273a;
    --text: #cad3f5;
    --crust: #181926;
    --mantle: #1e2030;
    --yellow: #eed49f;
  }
}

*{
  color: theme("colors.text");
  font-weight: 600;
  font-family: 'Inter', sans-serif;
}